<footer>
    <div class="footer_container">
        <div class="left">
        <p>Stay Connected</p>
        <input type="text" name="email" id="email" placeholder="EMAIL ADDRESS"><br><br>
        <button class="submit">SUBMIT</button><br>
        </div>
        <div class="right">
            <a href="">FACEBOOK</a><br><br>
            <a href="">TWITTER</a><br><br>
            <a href="">EMAIL US</a><br>
            <p>© Astronomy Connections</p>
    </div>
    </div>
</footer>