<header>
    <div class="usernav">
    <ul>
        <li><a href="/astronomy/myconnections/newconnection">Start A New Connection</a></li>
        <% if(typeof theUser == 'undefined') { %>
              <li><a href="/astronomy/myConnections">Login</a></li>
              <li><a href="/astronomy/myconnections">Sign up</a></li>
        <% } else { %>
            <li><a href="/astronomy/myconnections">My Connections</a></li>
              <li><a href="/astronomy/myconnections/signout">Sign Out</a></li>
        <% } %>
    </ul> 
    </div>
    <div class="welcome">
        <% if(typeof theUser != 'undefined') { %>
            <li><a href="/astronomy/myconnections">Welcome <%= theUser._firstName %>!</a></li>
          <% } %>
        </div>
    <a href="/"><img id="logo" src="/logo.png" alt="logo"></a>
    <div class="generalnav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/astronomy/connections">Connections</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</header>