<%- include('partials/header') -%> 

<body>

    <%- include('partials/navigation') -%>  
    <div id="cover">
        <div class="main_text1">
            <h1>About Astronomy Connections</h1>
            <p>Welcome! <br><br>
                Astronomy Connections is a place that allows you to attend and create 
                astrological related events to connect with people near you. <br><br>
                Whether you are trying to connect with others who are interested in astronomy, looking for someone 
                to stargaze with, or simply aspiring to learn something new.
            </p>
            <p><br>Check out ours Connections section to browse available connections or start creating a new connection!
            </p>
        </div>
    </div>
<%- include('partials/footer') -%>

</body>
</html>
