<%- include('partials/header') -%>
<body> 

    <%- include('partials/navigation') -%> 
    <div id="cover">
        <div class="main_text1">
            <h1>Contact Us</h1>
            <p>Address: 300 E St SW, Washington, DC 20546</p>
            <p>Phone: (388)-765-7700</p>
            <p>Email: astronomy@moon.com</p>
        </div>  
    </div>
    <%- include('partials/footer') -%>

</body>
</html>