<%- include('partials/header') -%>

<body>     
    
    <%- include('partials/navigation') -%> 
    <div id="cover">
        <div class="main_text1">
            <h1>Welcome To Our Astronomy Connections Site</h1>
            <p>Attend and create Astrological related events to connect with people near you. <br><br>Whether you are
                trying to connect with others who are interested in astronomy, looking for someone 
                to stargaze with, or aspiring to learn something new.
            </p>
            <p><br>Check out the Connections section to browse available connections.
            </p>
        </div>
    </div>
    <%- include('partials/footer') -%>

</body>
</html>
